body{
  font-family: 'Lato, Noto Sans JP', sans-serif;
  letter-spacing: 0.2em;

}
.main-wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main{
  flex: 1;
}
li {
  list-style: none;
}

header nav{
  max-width: 1340px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo{
  font-size: 24px;
  letter-spacing: 2px;
}
header .menu{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header .hamburger{
  display: none;
}
header .icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #2B3142;
  padding: 5px;
  margin-bottom: 0;
}
header .icon:hover{
  opacity: 0.7;
  transition: all 0.3s ease;
}
header .icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30px;
}
header .icon p{
  margin: 0;
  font-size: 10px;
  letter-spacing: 0;
}
header .icon-size{
  width: 25px;
  height: 25px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-img {
  background-image: url("../images/top.jpg");
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-img-text {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 3px;
}
.top__title {
  font-size: 32px;
  color: #4a4a4a;
  letter-spacing: 2px;
  padding: 20px 0 20px;
}

.card-product-name {
  padding: 12px;
}
.card-quantity {
  padding: 12px;
}
.card__total-price {
  padding: 12px;
}
.card__btn-trash {
  padding: 12px;
}
.card_hover:hover {
  transform: scale(1.01);
  transition-duration: 0.5s;
}
.card-img {
  background-size: cover;
  height: 500px;
}

/*
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product-img {
  height: 500px;
  margin-top: 40px;
}
.product-cart-img {
  width: 120px;
}
.product__content-header {
  padding: 40px 0 40px;
}
.product__name {
  font-size: 32px;
  color: #4a4a4a;
  letter-spacing: 2px;
  margin-bottom: 4px;
}
.product__price {
  font-size: 12px;
  color: #4a4a4a;
  letter-spacing: 1px;
}
.product__quantity {
  padding: 24px 0 12px;
}
.product__quantity input {
  width: 100%;
}
.product__btn-add-cart {
  padding: 12px 0 12px;
}
*/
.cart-wrapper {
  width: 720px;
  margin: 20px;
}
.cart-wrapper .card-body {
  display: flex;
  align-items: center;
}
.cart__title {
  font-size: 24px;
  color: #4a4a4a;
  letter-spacing: 1px;
  margin: 20px 0 20px;
}
.cart__sub-total {
  font-size: 16px;
  color: #4a4a4a;
  letter-spacing: 1px;
}
.cart__purchase {
  margin-top: 24px;
}
.cart__empty {
  font-size: 16px;
  color: #4a4a4a;
  letter-spacing: 1px;
}

.col-lg-4,
.col-md-6 {
  margin-bottom: 24px;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.sidebar a{
  text-decoration: none;
}

.card a{
  text-decoration: none;
}

.auth_favorite-icon {
  cursor: pointer;
}
.guest_favorite-icon {
  cursor: pointer;
}
footer{
  background-color: #2B3142;
  color: #fff;
  padding: 80px 0;
  margin-top: 120px;
}
.footer-container{
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}
footer h3{
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
}
footer p{
  font-size: 16px;
  margin-bottom: 10px;
}
footer ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
  gap: 10px;
  padding-left: 0;
}
@media (max-width: 760px) {
  .card-img {
    height: auto;
    max-height: 700px;
  }
}
@media (max-width: 600px) {
  header nav{
    padding: 10px 20px;
  }
  header .logo{
    font-size: 20px;
  }
  /*
  header .hamburger{
    display: block;
    font-size: 20px;
    font-weight: normal;
  }
  */

  header .menu{
    gap: 10px;
  }

  header .icon{
    width: 50px;
    padding: 3px;
  }
  header .icon:hover{
    opacity: 0.7;
    transition: all 0.3s ease;
  }
  header .icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25px;
  }
  header .icon p{
    margin: 0;
    font-size: 8px;
    letter-spacing: 0;
  }
  header .icon-size{
    width: 18px;
    height: 18px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-img {
    background-image: url("../images/top.jpg");
    height: 300px;
  }
  footer h3{
    font-size: 16px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
  }
  footer p{
    font-size: 14px;
    margin-bottom: 5px;
  }
}

/*# sourceMappingURL=custom.css.map */

/* ハンバーガーメニュー　SP用 */
