.top{
    letter-spacing: 0.2em;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search{
    margin-top: 100px;
    margin-bottom: 45px;
    width: 300px;
    height: 40px;
    position: relative;
}
.search form{
    height: 100%;
    width: 100%;
}
.search form input{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
.search form button{
    height: 100%;
    width: 50px;
    position: absolute;
    background-color:#2B3142 ;
    border: solid 1px #2B3142 ;
    right: 0;
    top: 0;
}
.search form button::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #fff;
    top:17%;
    right:36%;
}
.search form button::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 0;
    border-top: 3px solid #fff;
    bottom:21%;
    right:26%;
    rotate: 45deg;
}
a.all-products{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    background-color: #2B3142;
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}
a.all-products:hover{
    background-color: #fff;
    color: #2B3142;
    border: 1px solid #2B3142;
}
section{
    margin-top: 120px;
}
.section-title{
    text-align: center;
    font-size: 32px;
    margin-bottom: 60px;
}

.category-list{
    display: flex;
    overflow-x: scroll;
    gap: 20px;


}
.category-list li{
    width: 140px;
    flex-shrink: 0;
}
.category-list li a{
    width: 100%;
}
.category-list li a img{
    width: 100%;
    border-radius: 10px;
    height: 157px;
}
.category-list li a p{
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}
a.view_more{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    background-color: #2B3142;
    color: #fff;
    transition: all 0.3s ease;
}
a.view_more:hover{
    background-color: #fff;
    color: #2B3142;
    border: 1px solid #2B3142;
    cursor: pointer;
}
#ranking .center{
    margin-top: 60px;
}
#new_arrivals .center{
    margin-top: 60px;
}

@media (max-width: 600px) {
    .search{
        margin-top: 50px;
        margin-bottom: 35px;
        max-width: 300px;
        width: 100%;
        height: 40px;
    }
    a.all-products{
        font-size: 16px;
        max-width: 250px;
        width: 100%;
        height: 40px;
    }
    section{
        margin-top: 70px;
    }
    .section-title{
        font-size: 24px;
        margin-bottom: 40px;
    }
    .category-list li{
        width: 100px;
    }
    .category-list li a img{
        height: 110px;
    }
    .category-list li a p{
        font-size: 14px;
        margin-top: 5px;
    }
    a.view_more{
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 60px;
        background-color: #2B3142;
        color: #fff;
        transition: all 0.3s ease;
    }
    a.view_more:hover{
        background-color: #fff;
        color: #2B3142;
        border: 1px solid #2B3142;
        cursor: pointer;
    }
    #ranking .center{
        margin-top: 60px;
    }
    #new_arrivals .center{
        margin-top: 60px;
    }
}