.product-btn{
    display: inline-block;
    padding: 8px 20px;
    background-color: #2B3142;
    border: #2B3142 1px solid;
    color: #fff !important;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}
.product-btn:hover{
    background-color: #fff;
    color: #2B3142 !important;
    border: #2B3142 1px solid;
}