
.container{
    max-width: 1200px;
}
.cart__description{
    font-size: 16px;
    margin-bottom: 50px;
}
.top-tr {
    border-top: 6px solid #2B3142 !important;
}
table{
    border: 1px solid #ccc;
}
tr{
    height: 80px;
    font-size: 18px;
}
th{
    text-align: center;
    font-weight: normal;
}
td{
    text-align: center;
}
.cart_btn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.cart_btn div{
    width: 50%;
    text-align: center;
}
.back_btn a{
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #2B3142;
    background-color: #fff;
    transition: all 0.3s ease;
}
.back_btn a:hover{
    opacity: 0.7;
}
.purchase_btn a{
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #2B3142;
    background-color: #2B3142;
    color: #fff;
    transition: all 0.3s ease;
}
.purchase_btn a:hover{
    background-color: #fff;
    color: #2B3142;
}
.sp-cart{
    display: none;
}
@media (max-width: 700px) {
    .table{
        display: none;
    }
    .sp-cart{
        display: block;
        border: 1px solid #ccc;
    }
    .cart-item{
        display: flex;
        gap: 30px;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
    .cart-item-img{
        width: 15%;
    }
    .cart-item-img img{
        width: 100%;
    }
    .item-content{
        width: 70%;
    }
    .cart-item-delete{
        width: 15%;
        display: flex;
        align-items: center;
    }
    .cart-item-total{
        padding: 20px 10px;
        text-align: right;
        font-size: 12px;
    }    
}
@media (max-width: 500px) {
    .cart__title {
        font-size: 20px;
    }
    .cart__description{
        font-size: 12px;
        margin-bottom: 50px;
    }
    .cart-item{
        gap: 10px;
    }
    .cart-item-img{
        width: 20%;
    }
    .item-content{
        font-size: 12px;
    }
    .cart-item-delete{
        width: 20%;
    }
    .cart-item-delete button{
        font-size: 12px;
    }    
    .cart_btn {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .cart_btn div {
        width: 100%;
        max-width: 250px;
    }
}